{% load static %}

<!DOCTYPE html>
<html lang='en'></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Description, Keywords and Author -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- style -->
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static /photo/css/bootstrap.min.css %}">
    <!-- responsive -->
    <link rel="stylesheet" type="text/css" href="{% static /photo/css/responsive.css %}">
    <!-- font-awesome -->
    <link rel="stylesheet" type="text/css" href="{% static /photo/css/font-awesome.min.css %}">
    <!-- Slider -->
    <link rel="stylesheet" type="text/css" href="{% static /photo/css/jquery.fadeshow-0.1.1.min.css %}">
    {% block extra_head %}{% endblock %}
    <title>kotaro ito official site</title>
</head>
<body>
    <div class="container-fluid">
        {% block content %}
            {{ content }}
        {% endblock %}
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="{% static /photo/js/jquery.min.js %}"></script>
    <script type="text/javascript" src="{% static /photo/js/bootstrap.bundle.min.js %}"></script>
    <!-- custom -->
    <script type="text/javascript" src="{% static /photo/js/custom.js %}"></script>
    <script type="text/javascript" src="{% static /photo/js/nav-custom.js %}"></script>
    <!-- slider -->
    <script type="text/javascript" src="{% static /photo/js/background.cycle.js %}"></script>
    <script type="text/javascript" src="{% static /photo/js/background.cycle-custom.js %}"></script>
    <script type="text/javascript" src="{% static /photo/js/html5shiv.js %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>